#tituloprincipal{
    text-align: center;
    background: linear-gradient(to right, #ff0099, #493240);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
p{
    text-align: justify;
    font-family:sans-serif
}
#logo1{
    display: inline-block;
    width: 12%;
    text-align: center;
}